/* ELEMENTS DEFINED IN LAYOUTS/BASE */

html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
}

#base-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#main-col {
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: scroll;
  z-index: 2;
  height: 100%;
  width: 100%;
  scroll-behavior: auto;
}

#main-col::-webkit-scrollbar {
  display: none;
}

hr {
  margin-top: 21px;
  margin-bottom: 21px;
}

#footer-container {
  background: #1D1D1F;
  min-height: 376px;
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr 200px 200px
}

#footer-container > * {
  background: #1D1D1F;
  line-height: 32px;
}

#left-first {
  grid-row:1; grid-column: 1;
}
#left-second {
  grid-row:2; grid-column: 1;
}
#second-col-first {
  grid-row:1; grid-column: 2;
}
#third-col-first {
  grid-row:1; grid-column: 3;
}

.footer-menu-heading {
  font-size: 16px;
}
