---
pagination:
    data: language_repo_ja
    size: 1
    alias: lang
permalink: "/chapters/ja/{{ lang.id_of_part | safe }}"
layout: version
---
{{lang.name}} is {{lang.download_url}}
<div>
{% readdynamiccodeRender lang.download_url %}
</div>