---
layout: home
permalink: "/chapters-ja-jp/"
eleventyImport:
  collections: ["language_repo_ja"]
---

<div>
    <div style="display:grid;float:left;margin:160px 0 0 96px;height:182px; width:122px;min-width:122px;">
        <center>
        <img width="121px" height="182px" src='../assets/favicons/bookcover_small.png'>
        </center>
    </div>
    <div style="display:grid;float:left;margin:196px 0 0 64px;height:182px; width:600px;min-width:500px;">
        <h2 style="font-size:48px">
        <span style="color:red">P </span><span style="color:orange">L </span><span style="color:green">U </span><span style="color:#1e90ff">R </span><span style="color:white">A </span><span style="color:#1e90ff">L </span><span style="color:green">I </span><span style="color:orange">T </span><span style="color:red">Y</span>
        </h2>
        <H2 style="font-size:24px;font-family: Jost;">The Future of Collaborative Technology and Democracy</H2>
<div style="display:inline-block;">
    </div>
    </div>
</div>
<table>
<tr>
<td valign="top">
<div id="version-menu">
  <ol id="version-ol">
    <div>
{% if language_repo_ja.length > 0 %}
  <p>Number of Repositories: {{ language_repo_ja.length }}</p>
  <table>
    {% for repo in language_repo_ja %}
      <a href="/chapters/ja/{{ repo.id_of_part }}" target="_blank">{{repo.id_of_part}} : {{repo.name_of_part}}</a>
      <br>
    {% endfor %}
  </table>
{% else %}
    <p>No language repository data to display</p>
{% endif %}
</div>
</td>
</tr>
</table>
{% include "partials/footer.njk" %}