---
layout: home
permalink: "/chapters/ja-jp/"
eleventyImport:
  collections: ["language_repo_ja","language_repo_i18n"]
---
{%- from './_includes/macros/chapterversion-menu-item-individual-language.njk' import chapterVersionMenuItemIndividualLanguage -%}

<div>
    <div style="display:grid;float:left;margin:160px 0 0 96px;height:182px; width:122px;min-width:122px;">
        <center>
        <img width="121px" height="182px" src='../assets/favicons/bookcover_small.png'>
        </center>
    </div>
    <div style="display:grid;float:left;margin:196px 0 0 64px;height:182px; width:600px;min-width:500px;">
        <h2 style="font-size:48px">
        <span style="color:red">P </span><span style="color:orange">L </span><span style="color:green">U </span><span style="color:#1e90ff">R </span><span style="color:white">A </span><span style="color:#1e90ff">L </span><span style="color:green">I </span><span style="color:orange">T </span><span style="color:red">Y</span>
        </h2>
        <H2 style="font-size:24px;font-family: Jost;">The Future of Collaborative Technology and Democracy</H2>
<div style="display:inline-block;">
    </div>
    </div>
</div>

<div>
  <style>

  /* info-box setup */

  .info-box {
    padding-left:calc(var(--padding-step-4)*2);
    padding-right:calc(var(--padding-step-4)*2);
    margin-top:26px;
    margin-bottom:200px;
  }

  /* styling info-box tabs */

  ul[role="tablist"] {
    padding-left: 0;
    margin-top: 0;
  }

  li[role="tab"] {
    float: left;
    list-style-type: none;
    width: 150px;
    display: inline-block;
    line-height: 3;
    background-color: rgba(255,255,255,0.20);
    color: black;
    text-align: center;
  }

  li[role="tab"]:focus, li[role="tab"]:hover {
    background-color: rgba(255,255,255,0.10);
    color: white;
  }

  li[role="tab"].active {
    background-color: rgba(255,255,255,0.30);
    color: white;
  }

  /* styling info-box panels */

  .info-box .panels {
    clear: both;
    position: relative;
  }

  .info-box article {
    color: white;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    float:left;
  }

  .info-box .active-panel {
    z-index: 1;
    display: grid;
  }

</style>

<div style="padding-left:calc(var(--padding-step-4)*2);padding-right:calc(var(--padding-step-4)*2);">
    <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">How do you like to experience the Plurality book.<br>
Choose a way to immerse yourself in the book.</span><br>
    <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">(Link to) Audiobook via ACX</span><br>
    <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">(Link to) Audibook on website</span><br>
    <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">(Link to) Purchase physical copy via Amazon</span><br>
</div>
<section class="info-box">
Choose a language to experience the book
  <ul role="tablist">
    <li class="active" role="tab" aria-selected="true" aria-setsize="3" aria-posinset="1" tabindex="0">English</li>
    <li role="tab" aria-selected="false" aria-setsize="3" aria-posinset="2" tabindex="0">華文</li>
    <li role="tab" aria-selected="false" aria-setsize="3" aria-posinset="3" tabindex="0">日本語</li>
  </ul>
  <div class="panels">
    <article class="active-panel" role="tabpanel" aria-hidden="false">
<div>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">You can read our working draft on this website, or you can download it to read offline:</span><br>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">
"Before you download, please consider donating $4 or more to help us maintain this website through PayPal (via this <a href="https://www.paypal.com/donate/?hosted_button_id=3Q6BS9ZA595ZS">link</a>) or Coinbase (via this <a href="https://commerce.coinbase.com/checkout/aab4f708-439b-47ac-a68b-adf0613747bd">link</a>) donation.  If you choose, you will receive recognition and credit on our ledger for your donation, empowering you to participate in the future evolution of the project."</span><br>
            <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.pdf" class="button_small" style="margin-bottom: 3px;">English (PDF)</a></span><br>
            <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.epub" class="button_small" style="margin-bottom: 3px;">English (ePub)</a></span><br>
</div>
    </article>
    <article role="tabpanel" aria-hidden="true">
<div>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">華文</span><br>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">
"Before you download, please consider donating $4 or more to help us maintain this website through PayPal (via this <a href="https://www.paypal.com/donate/?hosted_button_id=3Q6BS9ZA595ZS">link</a>) or Coinbase (via this <a href="https://commerce.coinbase.com/checkout/aab4f708-439b-47ac-a68b-adf0613747bd">link</a>) donation.  If you choose, you will receive recognition and credit on our ledger for your donation, empowering you to participate in the future evolution of the project."</span><br>
            <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-traditional-mandarin.epub" class="button_small" style="margin-bottom: 3px;">Mandarin/華文 (ePub)</a></span><br>
            <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-traditional-mandarin.pdf" class="button_small" style="margin-bottom: 3px;">Mandarin/華文 (PDF)</a></span><br>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">Don't forget to explore English content</span>
</div>
    </article>
    <article role="tabpanel" aria-hidden="true">
        <div>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">日本の読者がこの本を読んで、わからないところを質問したり、意見を書いたりすることができるフォーラムを運営しています。</span><br>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">
"Plurality はPDF やePub の形でも読むことができます。下記のリンクからダウンロードができますが、その前に本ウェブサイトを維持するのに必要な４米国ドル以上のお金を寄付していただけませんでしょうか。PayPal経由での寄付は<a href="https://www.paypal.com/donate/?hosted_button_id=3Q6BS9ZA595ZS">こちら</a>(PayPal のユーザーを日本在住に設定している場合には、日本がPayPal の寄付受付対象国ではないため寄付できませ。)、Coinbase (<a href="https://commerce.coinbase.com/checkout/aab4f708-439b-47ac-a68b-adf0613747bd">こちら</a>)から寄付してください。  If you choose, you will receive recognition and credit on our ledger for your donation, empowering you to participate in the future evolution of the project."</span><br>
            <span style="text-transform: none;"><a href="https://scrapbox.io/plurality-japanese/%E5%88%9D%E3%82%81%E3%81%AB%E8%AA%AD%E3%82%93%E3%81%A7%E3%81%AD" class="button_small" style="margin-bottom: 3px; width: 348px;">Japanese/日本語 (Scrapbox)</a></span>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">English(英語)での媒体も確認してください。</span><br>
        </div>
        <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="3Q6BS9ZA595ZS" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
    </article>
  </div>
</section>



<script>

let tabs = document.querySelectorAll('.info-box li');
let panels = document.querySelectorAll('.info-box article');

for(let i = 0; i < tabs.length; i++) {
  let tab = tabs[i];
  setTabHandler(tab);
}

function setTab(e) {
  if(e.type === 'keypress' && e.keyCode !== 13) {
    return;
  }

  let tabPos = Number(this.getAttribute('aria-posinset'))-1;
  for(let i = 0; i < tabs.length; i++) {
    if(tabs[i].getAttribute('class')) {
      tabs[i].removeAttribute('class');
    }

    tabs[i].setAttribute('aria-selected', 'false');
  }

  this.setAttribute('class', 'active');
  this.setAttribute('aria-selected', 'true');

  for(let i = 0; i < panels.length; i++) {
    if(panels[i].getAttribute('class')) {
      panels[i].removeAttribute('class');
    }

    panels[i].setAttribute('aria-hidden', 'true');
  }

  panels[tabPos].setAttribute('class', 'active-panel');
  panels[tabPos].setAttribute('aria-hidden', 'false');
}

function setTabHandler(tab) {
  tab.addEventListener('click', setTab);
  tab.addEventListener('keypress', setTab);
}

</script>


</div>

<table>
<tr>
<td valign="top">
<div id="version-menu">
  <ol id="version-ol">
    <div>
{% for repo in language_repo_i18n %}
{% if ((repo.id) == 'ja') %}
{% if ((repo.upperpart_id) == '.') %}
    </div>
          <li style="font-size:40px;padding:0 28px;">Section {{ repo.upperpart_text }}</li>
    <div>
{% elseif ((repo.upperpart_id) != '') %}
    </div>
          <li style="font-size:40px;padding:0 28px;">{{ repo.upperpart_text }}</li>
    <div>
{% endif %}

        {{ chapterVersionMenuItemIndividualLanguage(
          githubLink = repo.githubLink,
          pageTitle = repo.urls.id_of_part,
          subtitleTranslated = repo.urls.name_of_part,
          pageUrl = "/v/parts/" + repo.urls.id_of_part + "/" + repo.id,
          language = repo.name,
          chapterid_subid = repo.urls.id_of_part)
        }}
{% endif %}
{% endfor %}

</div>
</td>
</tr>
</table>
{% if language_repo_ja.length > 0 %}
  <p>Number of Repositories: {{ language_repo_ja.length }}</p>
  <table>
    {% for repo in language_repo_ja %}
      <a href="/v/chapters/{{ repo.id_of_part }}/ja" target="_blank">{{repo.id_of_part}} : {{repo.name_of_part}}</a>
    {% endfor %}
  </table>
{% else %}
    <p>No language repository data to display</p>
{% endif %}

<div id="language_config">language_config</div>
{% for repo in language_repo_i18n %}
<div>
{{ repo.id }} / {{ repo.name }} / ({{repo.upperpart_id}}x{{repo.upperpart_text}}) / <a href="/v/parts/{{ repo.urls.id_of_part }}/{{repo.id}}" target="_blank">{{repo.urls.id_of_part}} : {{repo.urls.name_of_part}}</a>
<! -- {{ repo.urls.name }} -/- {{ repo.urls.name.id_of_part[0] }} -->
</div>
{% endfor %}

{% include "partials/footer.njk" %}