---
layout: home
permalink: "/contribution/"
---
{%- for contributor in contribution -%}
    <div>
        {{ contributor[0] | safe }}:
        {{ contributor[1] | safe }}<br></br>
    </div>
{%- endfor -%}

<center>
{% for category, items in contributor_from_file | groupby('Main Contribution Category') %}
    <div style="font-size:64px;text-transform: uppercase;"><b>{{ category }}</b></div>
    {% for item in items %}
    <div style="font-size:{{ item['Font Size'] | safe }}px;">
        {{ item['Row Labels'] | safe }}:
        {{ item['Sum of Total'] | safe }}<br></br>
    </div>

    {% endfor %}<br>
{% endfor %}
</center>

{% include "partials/footer.njk" %}