---
layout: endorsement
permalink: "/endorsements/"
---
{% readdynamiccodeRender 'https://raw.githubusercontent.com/akinorioyama/plurality_tentative/main/src//site/_includes/hidden_temporary/0-0-endorse_test.md' %}
<br>
<br>
