---
layout: home
permalink: "/engage/"
---

<div>
    <div style="margin:160px 0 0 0;height:182px;min-width:122px;">
        <center>
        <img width="146px" height="182px" src='../assets/favicons/bookcover_small.png'>
        </center>
    </div>
    <div style="margin-top:36px;">
        <center>
        <h2 style="font-size:48px">
        <span style="color:red">P </span><span style="color:orange">L </span><span style="color:green">U </span><span style="color:#1e90ff">R </span><span style="color:white">A </span><span style="color:#1e90ff">L </span><span style="color:green">I </span><span style="color:orange">T </span><span style="color:red">Y</span>
        </h2>
        <H2 style="font-size:24px;font-family: Jost;">The Future of Collaborative Technology and Democracy</H2>
<div style="display:inline-block;">
    </div>
            </center>
    </div>
</div>
<div style="padding-left:calc(var(--padding-step-4)*2);padding-right:calc(var(--padding-step-4)*2);">
Small blurb on bringing accessibility across multiple formats and platforms. If you are accessing the book via the download link or via the free audiobook, please consider donating, as it helps keep our website maintained. Here are ways you can read our book:
<br>
Donate button
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">
"Before you download, please consider donating $4 or more to help us maintain this website through PayPal (via this <a href="https://www.paypal.com/donate/?hosted_button_id=3Q6BS9ZA595ZS">link</a>) or Coinbase (via this <a href="https://commerce.coinbase.com/checkout/aab4f708-439b-47ac-a68b-adf0613747bd">link</a>) donation.  If you choose, you will receive recognition and credit on our ledger for your donation, empowering you to participate in the future evolution of the project."</span><br>
    <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">(Link to) Online version to read it <a href=chapters>here</a></span><br>
    <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">(Link to) Audiobook via ACX</span><br>
    <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">(Link to) Audibook on website</span><br>
    <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">(Link to) Purchase physical copy via Amazon</span><br>
    <div>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">You can read our working draft on this website, or you can download it to read offline:</span><br>
            <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.pdf" class="button_small" style="margin-bottom: 3px;">English (PDF)</a></span><br>
            <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.epub" class="button_small" style="margin-bottom: 3px;">English (ePub)</a></span><br>
</div>
(Link to) Website working draft
(Link to) Download English PDF/ePub
(Link to) Download Manadarin PDF/ePub
(Link to) Audiobook via ACX
(Link to) Audibook on website
(Link to) Purchase physical copy via Amazon
</div>
<div>
    <div style="display:grid;float:left;padding-left:calc(var(--padding-step-4)*2);padding-right:calc(var(--padding-step-4)*2);font-size:24px;font-family:Jost;">
    placeholder 1
    {% readdynamiccodeRender 'https://raw.githubusercontent.com/pluralitybook/plurality/main/contents/traditional-mandarin/0-3-致謝.md' %}
    </div>
    <div style="display:grid;float:left;padding-left:calc(var(--padding-step-4)*2);padding-right:calc(var(--padding-step-4)*2);font-size:24px;font-family:Jost;">
    placeholder 2
    {% readdynamiccodeRender 'https://raw.githubusercontent.com/pluralitybook/plurality/main/contents/english/0-3-credits.md' %}
    </div>
    <div style="display:grid;float:left;padding-left:calc(var(--padding-step-4)*2);padding-right:calc(var(--padding-step-4)*2);font-size:24px;font-family:Jost;">
    placeholder 3
    </div>
    <div style="display:grid;float:left;padding-left:calc(var(--padding-step-4)*2);padding-right:calc(var(--padding-step-4)*2);font-size:24px;font-family:Jost;">
    placeholder 4
    </div>
</div>

