---
layout: home
permalink: "/engage_i18n/"
---

<div>
    <div style="margin:160px 0 0 0;height:182px;min-width:122px;">
        <center>
        <img width="146px" height="182px" src='../assets/favicons/bookcover_small.png'>
        </center>
    </div>
    <div style="margin-top:36px;">
        <center>
        <h2 style="font-size:48px">
        <span style="color:red">P </span><span style="color:orange">L </span><span style="color:green">U </span><span style="color:#1e90ff">R </span><span style="color:white">A </span><span style="color:#1e90ff">L </span><span style="color:green">I </span><span style="color:orange">T </span><span style="color:red">Y</span>
        </h2>
        <H2 style="font-size:24px;font-family: Jost;">The Future of Collaborative Technology and Democracy</H2>
<div style="display:inline-block;">
    </div>
            </center>
    </div>
</div>
<style>
span {
    font-size:18px;
    font-family: Jost;
    margin-bottom: 4px;
}
</style>
<div style="padding-left:calc(var(--padding-step-4)*2);padding-right:calc(var(--padding-step-4)*2);">
    <br>
    <span>
Test 2: Small blurb on bringing accessibility across multiple formats and platforms. If you are accessing the book via the download link or via the free audiobook, please consider donating, as it helps keep our website maintained. Here are ways you can read our book:
        </span>
<br>
<br>
            <span style="font-size:18px;font-family: Jost;display: inline-block;">
Before you download, please consider donating $4 or more to help us maintain this website through PayPal (via this <a href="https://www.paypal.com/donate/?hosted_button_id=3Q6BS9ZA595ZS">link</a>) or Coinbase (via this <a href="https://commerce.coinbase.com/checkout/aab4f708-439b-47ac-a68b-adf0613747bd">link</a>) donation.  If you choose, you will receive credit on our ledger for your donation, empowering you to participate in the future evolution of the project, along with a US tax deduction.</span><br>
<br><br>
    <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.pdf" class="button_small" style="margin-bottom: 3px;">Donate</a></span>
<br><br>
    <h1>English</h1>
    <li><span style="font-size:18px;font-family: Jost;display: inline-block;"><a href="../chapters">Online</a></span></li>
    <li><span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.pdf" style="margin-bottom: 3px;">PDF</a></span></li>
    <li><span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.epub" style="margin-bottom: 3px;">ePub</a></span></li>
    <li><span style="font-size:18px;font-family: Jost;display: inline-block;"><a href="">Audiobook via ACX</a></span></li>
    <li><span style="font-size:18px;font-family: Jost;display: inline-block;"><a href="">Audibook on website</a></span></li>
    <li><span style="font-size:18px;font-family: Jost;display: inline-block;"><a href="">Purchase physical copy via Amazon</a></span></li>
<br>
    <h1>華文</h1>
    <li><span style="font-size:18px;font-family: Jost;display: inline-block;"><a href="../chapters">Online</a></span></li>
    <li><span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.pdf" style="margin-bottom: 3px;">PDF</a></span></li>
    <li><span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.epub" style="margin-bottom: 3px;">ePub</a></span></li>
<br>
    <h1>日本語</h1>
    <li><span style="font-size:18px;font-family: Jost;display: inline-block;"><a href="https://scrapbox.io/plurality-japanese/%E5%88%9D%E3%82%81%E3%81%AB%E8%AA%AD%E3%82%93%E3%81%A7%E3%81%AD" style="margin-bottom: 3px; width: 348px;">オンライン</a></span></li>
    <span>わからないところを質問したり、意見を書いたりすることができるフォーラムを運営しています。</span>
</div>

