---
layout: home
permalink: "/engage_verb_en/"
---

<div>
    <div style="margin:160px 0 0 0;height:182px;min-width:122px;">
        <center>
        <img width="146px" height="182px" src='../assets/favicons/bookcover_small.png'>
        </center>
    </div>
    <div style="margin-top:36px;">
        <center>
        <h2 style="font-size:48px">
        <span style="color:red">P </span><span style="color:orange">L </span><span style="color:green">U </span><span style="color:#1e90ff">R </span><span style="color:white">A </span><span style="color:#1e90ff">L </span><span style="color:green">I </span><span style="color:orange">T </span><span style="color:red">Y</span>
        </h2>
        <H2 style="font-size:24px;font-family: Jost;">The Future of Collaborative Technology and Democracy</H2>
<div style="display:inline-block;">
    </div>
            </center>
    </div>
</div>

<div style="padding-left:calc(var(--padding-step-4)*2);padding-right:calc(var(--padding-step-4)*2);">
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">
<b>Engage</b> (<a href="engage_verb_en">English</a>) / 參加 (<a href="engage_verb_zh-tw">華文</a>) / 参加(<a href="engage_verb_en">日本語</a>)</span><br>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">
    Small blurb on bringing accessibility across multiple formats and platforms. If you are accessing the book via the download link or via the free audiobook, please consider donating, as it helps keep our website maintained. Here are ways you can read our book:
            </span>
<br>
Donate button
    <h1>Read online</h1>
    <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">Engage in reading the book online <a href="../chapters">here</a></span><br>
    <h1>Read physical books</h1>
    <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">Enjoy reading physical copy via Amazon <a href="">the U.S.</a> / <a href="">Taiwan</a> / <a href="">Japan</a></span><br>
    <h1>Read together</h1>
    <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">Join reading group. 日本の読者がこの本を読んで、わからないところを質問したり、意見を書いたりすることができるフォーラムを運営しています。<a href="https://scrapbox.io/plurality-japanese/%E5%88%9D%E3%82%81%E3%81%AB%E8%AA%AD%E3%82%93%E3%81%A7%E3%81%AD" style="margin-bottom: 3px; width: 348px;">こちら</a>から</span><br>
    <h1>Download</h1>
            <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">
"Before you download, please consider donating $4 or more to help us maintain this website through PayPal (via this <a href="https://www.paypal.com/donate/?hosted_button_id=3Q6BS9ZA595ZS">link</a>) or Coinbase (via this <a href="https://commerce.coinbase.com/checkout/aab4f708-439b-47ac-a68b-adf0613747bd">link</a>) donation.  If you choose, you will receive recognition and credit on our ledger for your donation, empowering you to participate in the future evolution of the project."</span><br>
    <div  style="padding-left:calc(var(--padding-step-4)*2);padding-right:calc(var(--padding-step-4)*2);>
        <h2>English</h2>
        <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.pdf" style="margin-bottom: 3px;">English (PDF)</a></span><br>
        <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.epub" style="margin-bottom: 3px;">English (ePub)</a></span><br>
        <h2>華文</h2>
        <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.pdf" style="margin-bottom: 3px;"> (PDF)</a></span><br>
        <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.epub" style="margin-bottom: 3px;">English (ePub)</a></span><br>
    </div>
    <h1>Listen</h1>
    <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">(Link to) Audiobook via ACX</span><br>
    <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">(Link to) Audibook on website</span><br>
    <h1>Watch</h1>
    <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">Watch documentary</span><br>
    <h1>Contribute</h1>
    <span style="font-size:18px;font-family: Jost;display: inline-block; margin-bottom: 8px">Join us to learn, spread, and practice the Plurality</span><br>
    <div  style="padding-left:calc(var(--padding-step-4)*2);padding-right:calc(var(--padding-step-4)*2);>
        <h2>Learn</h2>
        <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.pdf" style="margin-bottom: 3px;">English (PDF)</a></span><br>
        <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.epub" style="margin-bottom: 3px;">English (ePub)</a></span><br>
        <h2>Spread</h2>
        <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.pdf" style="margin-bottom: 3px;"> (PDF)</a></span><br>
        <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.epub" style="margin-bottom: 3px;">English (ePub)</a></span><br>
        <h2>Practice</h2>
        <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.pdf" style="margin-bottom: 3px;"> (PDF)</a></span><br>
        <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.epub" style="margin-bottom: 3px;">English (ePub)</a></span><br>
        <h2>Translate</h2>
        <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.pdf" style="margin-bottom: 3px;"> (PDF)</a></span><br>
        <span style="text-transform: none;"><a href="https://github.com/pluralitybook/plurality/releases/latest/download/Plurality-english.epub" style="margin-bottom: 3px;">English (ePub)</a></span><br>

    </div>
</div>

