---
layout: home
permalink: "/"
---

<div style="colspan:2">
<div style="margin:5% 5% 5% 5%;height:600px; width:600px;display:inline-flex;float:left;min-width:500px;">
PLURALITY
</div>
<div style="margin:5% 5% 5% 5%;height:600px; width:600px;display:inline-flex;float:left;min-width:500px;">
{% readdynamiccode 'https://raw.githubusercontent.com/pluralitybook/plurality/main/contents/english/01-preface.md' %}
</div>
{%- for toppage in collections.toppages -%}
<div style="margin:5% 5% 5% 5%;height:600px; width:600px;display:grid;float:left;min-width:500px;">
{{ toppage.data.title }}<br>
{{ toppage.content | safe }}
</div>
{%- endfor -%}

<div style="margin:5% 5% 5% 5%;height:600px; width:600px;display:inline-flex;float:left;min-width:500px;">
<img src='https://raw.githubusercontent.com/akinorioyama/plurality.net/main/src/site/_includes/favicons/logo.png'>
</div>


</div>

